<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BEFlagCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BEFlagCreator.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="BandColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BandColor2" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="BandColor3" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="BandColor4" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BandColor5" serializeAs="String">
                <value>Purple</value>
            </setting>
            <setting name="BandColor6" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="BandColor7" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BandsHorizontal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FlagHeight" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Margins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BandsCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BandsVertical" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlagWidth" serializeAs="String">
                <value>16</value>
            </setting>
        </BEFlagCreator.Properties.Settings>
    </userSettings>
</configuration>